* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SimSun", "宋体", serif !important;
}

body {
  width: 100%;
  overflow-x: hidden; /* 禁止横向滚动 */
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*header style */
header {
  display: flex;
  align-items: center;
  padding: 2vw;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  height: 8vw;
  margin-right: 2vw;
}

.header-logo span {
  font-size: 8vw;
  font-weight: bold;
  color: #333;
}

/*main style*/
main {
  max-width: 95vw;
  margin: 2vw auto;
  padding: 0 2vw;
}

h1 {
  max-width: 90vw;
  font-size: 6vw;
  margin-bottom: 5vw;
  margin-top: 5vw;
  text-align: center;
}

h2,
h3,
h4,
h5 {
  max-width: 90vw;
  margin-bottom: 2vw;
  text-align: center;
}

h2 {
  font-size: 6vw;
}

h3 {
  font-size: 5vw;
}

.audio-player {
  width: 80vw;
  height: 10vw;
  margin: 0 auto;
  border-radius: 2vw;
  display: block;
}

/* 段落统一设置 */
p {
  text-align: justify; /* 两端对齐 */
  text-indent: 2em; /* 段首缩进 2 字符 */
  line-height: 1.7; /* 行高，更好看 */
  font-size: 5vw; /* 文字大小 */
  margin-bottom: 1em; /* 段落间距 */
  max-width: 80vw;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 50vw;
  margin: 0 auto;
  margin-bottom: 2vw;
}

/*竖版图片*/
.img_1 {
  max-height: 50vw;
}

/*横版图片*/
.img_2 {
  max-width: 80vw;
}

.caption {
  font-size: 4vw;
  color: #666;
  margin: 2vw auto;
  line-height: 1.7;
  text-indent: 0 !important; /* 取消首行缩进 */
  text-align: center;
}

/*footer style*/
footer {
  background-color: #f8f9fa;
  color: black;
  padding: 2vw 0;
  text-align: center;
}

.footer-logo {
  margin: 2vw auto;
}

.footer-logo img {
  height: 10vw;
  margin-right: 5vw;
  display: block;
  margin: 2vw auto;
}

.footer-logo span {
  font-size: 6vw;
  font-weight: bold;
}
